<?xml version="1.0" encoding="utf-8" ?>
<!--
/*This file is part of GameLocker.

    GameLocker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GameLocker is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with GameLocker.  If not, see <http://www.gnu.org/licenses/>.
*/

-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Configurator.lockerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Configurator.lockerSettings>
            <setting name="fileList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>begin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="fileMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>begin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="checkInWait" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="timedGame" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="probability" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="waitToPlay" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="incorrectWait" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="lastTry" serializeAs="String">
                <value>2009-12-23</value>
            </setting>
            <setting name="alertBeforeKill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alertAudible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alertVisual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertTakeFocus" serializeAs="String">
                <value>False</value>
            </setting>
        </Configurator.lockerSettings>
    </userSettings>
</configuration>